# originals (Gigabytes datasets)
**/originals/NF*/
**/originals/nf*/
**/originals/zip-files/**
**/originals/pre-processed/train-test/

# sample datasets from other sources
**/pre-processed/datasets/**
**/pre-processed/ita/**

# no temporary files for federated learning
**/federated/metrics/TEMP_*

.venv/

/.vscode/
/.idea/

**/__pycache__/